:root{
    --first-color: #076023;
    --second-color: #000000;
    --third-color: #7e7e7e;
    --fourth-color: #3e3d3a;
    --fifth-color: #ffffff;
    --sixth-color: #ffbd00;
}

html{
    background-color: var(--fourth-color);
}

body{
    font-family: Helvetica, Arial, sans-serif;
}

.columns{
    margin: 30px;
}

.column{
    margin:50px;
}

.title{
    font-size: 125px;
    color: var(--fifth-color); 
    padding: 30px;
    margin: 0px;
    border-bottom: solid 5px var(--first-color);
    background-color: var(--second-color);
}

.search-func{
    color: var(--second-color);
    padding-bottom: 30px;
    border: solid 2px var(--second-color);
    background-color: var(--third-color);
    box-shadow: 0 0 10px var(--first-color);
    border-radius: 20px;
}

.button{
    color: (var(--second-color));
    background-color: var(--sixth-color);
}

.park-col{
    color: var(--second-color);
    padding: 100px;
    border: solid 2px;
    margin: 30px;
    border: solid 2px var(--second-color);
    background-color: var(--third-color);
    box-shadow: 0 0 10px var(--first-color);
    border-radius: 20px;
}

.park-result{
    display: flex;
    flex-flow: column;
}
/* 
.description{
    width: 40%;
} */

/* .park-result img{
    height: 300px;
    max-width: auto;
} */

.park-item {
    color: var(--sixth-color);
}

.weather-col{
    color: var(--second-color);
    padding: 100px;
    border: solid 2px;
    margin: 30px;
    border: solid 2px var(--second-color);
    background-color: var(--third-color);
    box-shadow: 0 0 10px var(--first-color);
    border-radius: 20px;
}

.weather-item {
    color: var(--fifth-color);
}

.weather-title {
    color: var(--fifth-color);
    font-size: larger;
    font-style: italic;
}

.park-list {
    color: var(--sixth-color);
    font-size: larger;
    font-style: italic;
}

.weather-result{
    margin: 10px;
}

.hide {
    display: none;
}